<MaSite host="Test.Masir.com" default="true" type="Masir.Web.Page.MaSite">
  <!--皮肤配置-->
  <DefaultSkin type="Masir.Web.Page.MaSkin">
    <ImagePath>/Images/</ImagePath>
    <CssPath>/Css/</CssPath>
    <JsPath>/Js/</JsPath>
    <TemplatePath>/Skin/Show/</TemplatePath>
  </DefaultSkin>

  <!--页面配置-->
  <DefaultPage type="Masir.Web.Htmx.HtmxPage">
    <Output way="None" time="600" location="Server" custom="host" header="" param="" />
    <Handler type="MasirTest.DefaultHandler" />
    <Parsers>
      <add type="Masir.Web.Parse.TemplateParser" />
      <add type="Masir.Web.Parse.VariableParser" />
      <add type="MasirTest.Parse.CommonParser" />
      <add type="Masir.Web.Parse.VariableParser" />
    </Parsers>
  </DefaultPage>

</MaSite>