<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <MaWeb type="Masir.Web.Page.MaWeb">
    <MaSite name="test" file="Skin/Test.config">
      <host value="test.masir.com" />
    </MaSite>
  </MaWeb>

  <log4net path="../_saleslog/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>

    <!--日志记录对象-->
    <logger name="Masir.MaConfig">
      <level value="ALL" />
      <appender-ref ref="Masir.MaConfig.Appender" />
    </logger>

  </log4net>

</configuration>