<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--数据库信息-->
  <DataBase type="Masir.Data.DataBaseConfig">
    <ConnString>
      <MasirData IfEncrypt="false">Server=.;Database=Outer_WebSite;UID=OuterWebSiteUser;Password=OuterWebSiteUser;</MasirData>
      <MfcStudent IfEncrypt="false">Server=.;Database=MfcStudent;UID=mfcbackuser;Password=mfcbackuser;</MfcStudent>
      <TxoooAgent IfEncrypt="false">Server=10.10.10.212;Database=TxoooAgent;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgent>
    </ConnString>
  </DataBase>
  
  <!--安全验证-->
  <MaSecurity checkurl="true" type="Masir.Web.Security.MaSecurityConfig">
    <MaUserType>Masir.Outer.WebSite.RBAC.MaUser</MaUserType>
    <LoginUrl>/Index.html</LoginUrl>
    <DefaultUrl>/Default.html</DefaultUrl>
    <!--Cookie相关信息-->
    <Cookie>
      <ValidateIP>False</ValidateIP>
      <Key>ZAQ!xsw2CDE#vfr4</Key>
      <Name>OuterCookie</Name>
      <Timeout>120</Timeout>
      <Domain></Domain>
      <RequireSSL>False</RequireSSL>
      <SlidingExpiration>True</SlidingExpiration>
      <CookiePath>/</CookiePath>
      <CookieMode>UseDeviceProfile</CookieMode>
    </Cookie>
    <!--需要授权的目录-->
    <AuthorizationPath>
      <Add value="/" />
    </AuthorizationPath>
    <OpenPath>
      <!--页面开放-->
      <Add value="/Index.htm" />
    </OpenPath>

    <OpenDomain>
      <!--开放域名-->
      <Add value="test.masir.com" />
      <Add value="show.masir.com" />
    </OpenDomain>
  </MaSecurity>
  
  <!--站点配置信息-->
  <MaWeb type="Masir.Web.Page.MaWeb">
    <MaSite name="test" file="Skin/Test.config">
      <host value="test.masir.com" />
    </MaSite>
    
    <MaSite name="show" file="Skin/Show.config">
      <host value="show.masir.com" />
    </MaSite>
  </MaWeb>

  <log4net path="../_saleslog/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>

    <!--日志记录对象-->
    <logger name="Masir.MaConfig">
      <level value="ALL" />
      <appender-ref ref="Masir.MaConfig.Appender" />
    </logger>

  </log4net>

</configuration>