<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="6000" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="MaSecurityModule" type="Masir.Web.Security.MaSecurityModule" />
      <add name="MaHtmxModule" type="Masir.Web.Htmx.HtmxModule" preCondition="" />
    </modules>
    <handlers>
      <add name="Ma-Html" path="*.html" verb="*" type="Masir.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Ma-Htmx" path="*.htmx" verb="*" type="Masir.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Ma-Htme" path="*.htme" verb="*" type="Masir.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Ma-Htms" path="*.htms" verb="*" type="Masir.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Ma-Htmd" path="*.htmd" verb="*" type="Masir.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Ma-Htmn" path="*.htmn" verb="*" type="Masir.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Ma-Htmc" path="*.htmc" verb="*" type="Masir.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />

      <add name="Ma-Ajax" path="*.ajax" verb="*" type="Masir.Web.Ajax.AjaxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
    </handlers>
    
  </system.webServer>

</configuration>