<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--数据库信息-->
  <DataBase type="Masir.Data.DataBaseConfig">
    <ConnString>
      <MasirData IfEncrypt="false">Server=.;Database=Outer_WebSite;UID=OuterWebSiteUser;Password=OuterWebSiteUser;</MasirData>
      <MfcStudent IfEncrypt="false">Server=.;Database=MfcStudent;UID=mfcbackuser;Password=mfcbackuser;</MfcStudent>
      <TxoooAgent IfEncrypt="false">Server=10.10.10.70;Database=Agent_7518;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgent>
      <TxoooAgentTest IfEncrypt="false">Server=10.10.10.70;Database=Agent_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgentTest>
      <Agent93390 IfEncrypt="false">Server=10.10.10.72;Database=Agent_Outer;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</Agent93390>
      <Agent93390Test IfEncrypt="false">Server=10.10.10.72;Database=Agent_Outer_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</Agent93390Test>
    </ConnString>
  </DataBase>
  
  <log4net path="../_masirTestlog/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>

    <!--日志记录对象-->
    <logger name="Masir.MaConfig">
      <level value="ALL" />
      <appender-ref ref="Masir.MaConfig.Appender" />
    </logger>

  </log4net>

</configuration>